
label {
    width: 4pc;
    display: inline-block;
}

input[type=submit], input[type=reset] {
    cursor: pointer;
    border: 1px solid #4444;
}

.navbarColor {
    background-color: rgb(246, 215, 174);
}

.registerBtn {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.registerBtn:hover {
    color: rgb(209, 159, 94);
}

.registrationText {
    margin-top: 20px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    display: block;
}

.navLink:hover {
    color: rgb(143, 120, 65);
    transform: translate(1px, 2px);
}

.navLink:active {
    color: rgb(105, 88, 47);
}

.test:hover {
    transform: translate(1px, 2px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.inputTextBox {
    padding: 8px;
    font-size: 14px;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(66,66,66,.81);
    margin-bottom: 20px;
    margin-top: 10px;
}

.textBoxText {
    margin-bottom: 5px;
}

.addCarDiv {
    width: 60%;
    background-color: rgb(246, 215, 174);
    border-radius: 15px;
    text-align: center;
    margin: auto;
    min-width: max-content;
}

.addCarText {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.upperTitle {
    text-align: center;
    position: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.settButtonsDiv {
    display: table-cell;
}


.settButtons {
    background-color: rgb(246, 215, 174);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
}

.settButtons:hover {
    color: rgb(143, 120, 65);
    transform: translate(1px, 2px);
}

.post {
    background-color: rgba(255, 255, 255, 0.404);
    width: 80%;
    height: 22%;
    border-radius: 10px;
    display: inline-table;
    min-width: 90%;
}

.postTitle {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postInformation {
    position: relative;
    left: 35%;
    margin-right: 5%;
}

.carImg {
    background-color: rgba(175, 142, 66, 0.178);
    width: 220px;
    height: 160px;
}

.leftPost {
    width: 300px;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
}

.imgSize {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rightPost {
    margin-bottom: 15px;
    margin-right: 10%;
}

.starBtn {
    background-color: rgb(246, 215, 174);
    font-family: 'Lato', sans-serif;
    font-size: 5px;
    font-weight: bold;
    border: black;
    transition: 0.5s;
    border-radius: 50%;
}

.starBtn:hover {
    background-color: rgb(184, 161, 131);
}

.starBtn:active {
    background-color: rgb(144, 126, 103);
}

.postBtn {
    margin-left: auto;
    margin-right: 5px;
    float: right;
    display: flex;
}

.logout {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-right: 5px;
}

.logout:hover {
    color: rgb(143, 120, 65);
}

.logout:active {
    transform: translate(2px);
}

#profPic {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

#modProfPic {
    text-align:right;
    margin-right:20px;
    padding-bottom: 10px;
}

.userInformation {
    text-align: center;
}

.userText {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    display: inline;
}

.searchBar {
    margin: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
}

.horAlign {
    margin-top: 15px;
}

.profileLine {
    padding: 5px;
}

.rlPost {
    display: flex;
    justify-content: center;
    align-items: end;
}